@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 11%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: chartreuse;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    background-color: black;
    color:white;
}

strong {
    color: chartreuse;
}

.titulo-destaque {
    color:#22D4FD;
}

.apresentacao {
    margin: 4.5% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.apresentacao__conteudo__paragrafo{
    font-family: 'Ubuntu', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.375rem;
    font-family: 'Ubuntu', sans-serif;
}

.apresentacao__layout__links {
    background-color:black;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 70%;
    text-align: center;
    border: 2px solid chartreuse;
    border-radius: 10px;
    font-size: 1.375rem;
    padding: 21.5px 0;
    text-decoration: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.apresentacao__layout__links:hover{
    background-color: #272727;
    color: #22D4FD;
    border: 2px solid white;
    width: 430px;
    font-size: 1.75rem;
}

.rodape {
    color: #000000;
    background-color: chartreuse;
    padding: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.375rem;
    text-align: center;
    }

    .apresentacao__img {
        width: 50%;
        }

        @media (max-width: 1200px) {
            .cabecalho {
                padding: 4%;
            }
             .cabecalho__menu{
                justify-content: center;
             }

            .apresentacao{
                flex-direction: column-reverse;
            }

            .apresentacao__conteudo {
                width: auto;
            }
        }